a {
  text-decoration: inherit;
  color: inherit;
}
.group:after{
  visibility:hidden;
  display:block;
  content: "";
  clear: both;
  height: 0;
}
* html .group { zoom: 1; }
*:first-child+html .group { zoom: 1; }
body {
  margin: 0;
  margin-left: 10%;
  font-family:"Open Sans", sans-serif;
  cursor: default;
  overflow: auto;
  width: 80%;
}
#title-block {
  width:100%;
  margin:0 auto;
  display:block;
  font-size:0.9em;
}
#title-block h1 {
    display: inline;
    float:left;
}
#title-block h2 {
    display: inline;
    float: right;
}
h1:after{
content: ".li";
font-size: 0.7em;
}
#main {
  width:100%;
  margin:0 auto;
}
.sitle {
  margin-top:1%;
}
.sitle h2{
  margin: 0;
  padding-left: 1em;
  padding-top: 10px;
  margin-bottom: 0;
  display: inline-block;
}
.sitle p{
  display: inline;
  font-size:0.8em;
}
.source {
  float: right;
}
.data {
  width: 100%;
  margin:0 auto;
  background-color: rgb(0, 229, 16);
  overflow-x: scroll;
  overflow-y: hidden;
  height: 260px;
  display: block;
}
.list{
  height: 90%;
  min-width: 940px;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  -ms-column-count: 4;
  column-count: 4;
  column-gap: 0;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  -ms-column-gap: 0;
  padding-top: 2%;
  padding-bottom: 1%;
}
ul div{
  display:block;
}
.record{
  width:90%;
  color:black;
}
.record:hover{
  color:white;
}
.word {
  float:left;
}
.count {
  float:right;
}
.reg1:after, .cou1:before{
  content:".";
  color:white;
}
.reg2:after, .cou2:before{
  content:"..";
  color:white;
}
.reg3:after, .cou3:before{
  content:"...";
  color:white;
}
footer {
  text-align: center;
  margin-top: 4%;
  font-size: 0.7em;
}
footer div {
    margin-bottom: 40px;
}
footer div a {
    font-weight: bold;
}