body {
  margin: 0;
  font-family:"Open Sans", sans-serif;
  cursor: default;
  overflow: auto;
}
#title-block {
  color: blue;
  max-width:80%;
  margin:0 auto;
  display:block;
}
#main {
  max-width:80%;
  margin:0 auto;
}
.words {
  max-width:70%;
  margin:0 auto;
  float:left;
}
.counts {
  max-width:30%;
  margin:0 auto;
  float:left;
}
.data {
  width: 100%;
  margin:0 auto;
  float:left;
  background-color: rgb(0, 229, 16);
  overflow-x: scroll;
  height: 260px;
}
.sitle h2{
  margin: 0;
  padding-left: 1em;
  padding-top: 10px;
  background-color: rgb(0, 229, 16);
}
.list{
  height: 90%;
  width: 915px;
  -webkit-column-count: 4;
  padding-top: 1%;
  padding-bottom: 1%;
}
#title-block:hover {
  color:black;
}
.group:after{
  visibility:hidden;
  display:block;
  content: "";
  clear: both;
  height: 0;
}
* html .group { zoom: 1; }
*:first-child+html .group { zoom: 1; }