body {
  margin: 0;
  font-family:"Open Sans", sans-serif;
  cursor: default;
  overflow: auto;
}
#title-block {
  color: blue;
  max-width:80%;
  margin:0 auto;
  display:block;
  font-size:0.9em;
}
h1:after{
content: ".pw";
font-size: 0.7em;
}
#main {
  max-width:80%;
  margin:0 auto;
}
.word {
  float:left;
}
.count {
  float:right;
}
ul div{
  display:block;
}
.data {
  width: 100%;
  margin:0 auto;
  float:left;
  background-color: rgb(0, 229, 16);
  overflow-x: scroll;
  overflow-y: hidden;
  height: 260px;
}
.sitle h2{
  margin: 0;
  padding-left: 1em;
  padding-top: 10px;
  margin-bottom: -4px;
  display: inline-block;
}
.sitle p{
    display: inline;
    font-size:0.8em;
}
.list{
  height: 90%;
  min-width: 940px;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  column-gap: 0;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  padding-top: 2%;
  padding-bottom: 1%;
}
#title-block:hover {
  color:black;
}
.record{
  width:90%;
  color:black;
}
.record:hover{
  color:white;
}
.reg1:after, .cou1:before{
    content:".";
    color:white;
}
.reg2:after, .cou2:before{
    content:".";
    color:white;
}
.reg3:after, .cou3:before{
    content:".";
    color:white;
}
.reg4:after, .cou4:before{
    content:"..";
    color:white;
}
.reg5:after, .cou5:before{
    content:"..";
    color:white;
}
.reg6:after, .cou6:before{
    content:"..";
    color:white;
}
.reg7:after, .cou7:before{
    content:"..";
    color:white;
}
.reg8:after, .cou8:before{
    content:"...";
    color:white;
}
.group:after{
  visibility:hidden;
  display:block;
  content: "";
  clear: both;
  height: 0;
}
* html .group { zoom: 1; }
*:first-child+html .group { zoom: 1; }