{% extends "layout.html" %}
{% block main %}
    <div id='main'>
      {% for source in sites %}
      <div class='sitle'>
        <h2><a href='http://{{source}}.com' target='_blank'>{{source}}.com</a></h2>  
        <p><i>{{logs[source][0]['cumul']}}</i> words across the <i>{{logs[source][0]['articles']}}</i> latest articles.<!-- a href='{{logs[source][0]["url"]}}' target='blank' class='source'> source</a --></p>
      </div>
      <div class='data'>
        <div class='list'>
          <ul>
            {% for word in logs[source][1:logs[source][0]['showratio']]%}
            <div class='record group'>
              <div class='word reg{{word["appears"]}}'>{{word['word']}}</div> 
    	      <div class='count cou{{word["appears"]}}'>{{word['counted']}}</div>
    	    </div>
            {% endfor %}
          </ul>
    	</div>
      </div>
      {% endfor %}
    </div>
{% endblock %}
