<!DOCTYPE html>
<html>
  <head>
    <title>MINIM</title>
    <link rel='stylesheet' type = 'text/css' href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div id='title-block'>
      <div>
        <h1>MINIM</h1>
      </div>
    </div>
    <div id='main' class = 'group'>
        {% for source in sites %}
        <div class='sitle'>  
	  <h2>{{source}}</h2>
	</div>
	<div class='data'>
	<div class='list'>
          <ul class='words'>
            {% for word in logs[source]['words'][0:500] %}
              <div>{{word[0]}}</div>
            {% endfor %}
          </ul>
          <ul class='counts'>
            {% for count in logs[source]['counts'][0:500] %}
              <div>{{count[0]}}</div>
            {% endfor %}
          </ul>
	</div>
	</div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
