<!DOCTYPE html>
<html>
  <head>
    <title>MINIM</title>
    <link rel="stylesheet" type = 'text/css' href="style.css">
    <link rel="shortcut icon" href="favicon.ico">
  </head>
  <body class='group'>
  <div id='title-block' class='group'>
    <div>
      <h1>MINIM</h1>
      <a href='#about'><h2 id='info'>?</h2></a>
    </div>
  </div>
  {% block main %}
  {% endblock %}
  <footer>
    <a name='about'></a>
    <div><p>
        Refreshed on {{sites['VICE']['data']['date']}} from the folowing feeds: <br>{% for sitename in sites %} <a
            href="{{sites[sitename]['sitefeed']}}" target='_blank'>{{sites[sitename]['sitename']}}</a><br>{% endfor %}Go
        behind the scenes at <a href='https://github.com/Jeddf/Minim' target='_blank'>Github.com/Jeddf/Minim</a> to see
        which words I thought were boring and how the site works.<br>
    </p></div>
      <p>...MINIM has no affiliation with mentioned websites...</p>
  </footer>
  </body>
</html>
