<!DOCTYPE html>
<html>
  <head>
    <title>MINIM</title>
    <link rel='stylesheet' type = 'text/css' href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div id='title-block'>
      <div>
        <h1>MINIM</h1>
      </div>
    </div>
    <div id='main'>
        {% for source in sites %}
        <div class='sitle'>
	  <h2>{{source}}.com</h2>  <p><i>{{logs[source][0]['cumul']}}</i> words across the <i>{{logs[source][0]['articles']}}</i> latest articles.</p>
	</div>
	<div class='data'>
	  <div class='list'>
	    <ul>
            {% for word in logs[source][1:2001] %}
            <div class='record group'>
	      <div class='word reg{{word["appears"]}}'>{{word['word']}}</div> 
	      <div class='count cou{{word["appears"]}}'>{{word['counted']}}</div>
	    </div>
            {% endfor %}
            </ul>
	  </div>
	</div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
